# Watchdog
CONFIG_WATCHDOG_AUTOSTART=y
# Crypt
CONFIG_CRYPT_PW=n
# autoboot
CONFIG_AUTOBOOT=y
CONFIG_BOOTDELAY=9
CONFIG_AUTOBOOT_KEYED=y
CONFIG_AUTOBOOT_FLUSH_STDIN=y
CONFIG_BOOT_RETRY_TIME=30
CONFIG_AUTOBOOT_PROMPT="booting gapfruit OS\n"
CONFIG_AUTOBOOT_ENCRYPTION=y
CONFIG_AUTOBOOT_STOP_STR_ENABLE=n
CONFIG_AUTOBOOT_STOP_STR_CRYPT=n
CONFIG_AUTOBOOT_STOP_STR_SHA256=y
