# Enable measured boot
CONFIG_MEASURED_BOOT=y
CONFIG_MEASURE_DEVICETREE=n
CONFIG_MEASURE_IGNORE_LOG=n
# Enable TPM support
CONFIG_TPM2_TIS_SPI=y
CONFIG_TPM=y
CONFIG_TPM_V2=y
CONFIG_TPM_V1=n
CONFIG_TPM2_CR50_I2C=n
CONFIG_TPM2_TIS_I2C=n
CONFIG_TPM2_FTPM_TEE=n
CONFIG_TPM2_MMIO=n
# Enable tpm command
CONFIG_CMD_TPM=y
CONFIG_CMD_TPM_TEST=n
CONFIG_CMD_TPM_V2=y
# EFI configuration
CONFIG_EFI_TCG2_PROTOCOL=n
CONFIG_EFI_SECURE_BOOT=y
# High assurance boot configuration
CONFIG_IMX_HAB=n
# Config Security support
CONFIG_AES=n
CONFIG_ECDSA=n
CONFIG_RSA=y
CONFIG_SPL_RSA=n
CONFIG_RSA_VERIFY=y
CONFIG_RSA_VERIFY_WITH_PKEY=y
CONFIG_SPL_RSA_VERIFY_WITH_PKEY=n
CONFIG_RSA_SOFTWARE_EXP=n
CONFIG_RSA_FREESCALE_EXP=y
CONFIG_ASYMMETRIC_KEY_TYPE=y
CONFIG_SPL_ASYMMETRIC_KEY_TYPE=n
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
CONFIG_SPL_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=n
CONFIG_RSA_PUBLIC_KEY_PARSER=y
CONFIG_SPL_RSA_PUBLIC_KEY_PARSER=n
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_PKCS7_MESSAGE_PARSER=y
CONFIG_PKCS7_VERIFY=y
CONFIG_MSCODE_PARSER=y
CONFIG_SPL_TPM=n
